body{
    margin: 0%;
    padding: 0%;
}

header{
    padding-inline: 10vw;
    padding-block: 3vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: lightslategray;
}

.container{
    background-color: white;
    border-radius: 25px;
    padding: 0.5vw;
    padding-inline: 1vw;
    display: flex;
    align-items: center;
}


.column_container{
    display: flex;
    flex-direction: column;
}

.header_element{
    background-color: white;
    padding: 0.40vw;
    padding-inline: 0.5vw;
    border-radius: 25px;
    font-family:Arial;
    white-space: nowrap;
}

.espace_resultats{
    padding: 2vw;
    font-family: 'Courier New';
}

img{
    padding: 0.5vw;
    max-height: 30vh;
    height: 100%;
    width: auto;
}